/*General settings*/

:root{
    --main-color: rgb(7, 7, 90);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,h2,h3,p,a,li{
    font-family:sans-serif;
}

.page-wrapper{
    margin: auto;
    padding-top: 6rem;
    max-width: 60rem;
    display: flex;
    column-gap: 2rem;
    height: 120vh;
}


.bg-img{
    background-image:url("images/edu-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed; 
    /* background-attachment: fixed; */
    inset: 0;
    opacity: .8;
    z-index: -1;
}



.app-form{
    background-color:rgba(255,255,255,.6);
    min-height: 30rem;
    width: 35rem;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;
}

fieldset{
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 1rem;
}

fieldset div{
    flex: 1 1 40%;
}

input, select{
    height: 1.8rem;
    width: 100%;
}

.register-btn{
    height: 1.8rem;
    width: 10rem;
    margin: auto;
    background-color: #07075A;
    border: none;
    color: white;
    cursor: pointer;
}

.info-btn{
    height: 1.8rem;
    width: 10rem;
    margin: auto;
    background-color: #07075A;
    border: none;
    color: white;
    cursor: pointer;
}

.close-btn{
    width: 10rem;
    height: 1.8rem;
    background-color:#07075A;
    cursor: pointer;
    color: white;
    border: none;
}

.personal-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--main-color);
    color: white;
    font-size: .8rem;
    padding: .5rem;
}


.hidden-box{
    width: 25rem;
    height: auto;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap:2rem;
    overflow:auto;
    padding: 1rem;
}

.hidden-info{
    background-color:rgba(255,255,255,.6);
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
}



